@mixin button {
  display: block;
  background: #FFF;
  border: 2px solid #F6F6F6;
  border-radius: 8px;
  height: 58px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 18px;
  font-size: 14px;
  letter-spacing: 0.08em;
  text-align: left;
}

.button {
  @include button;
}

.active-tab {
  background: url('/img/arrow_up.png') no-repeat #F6F6F6;
  background-position: 92%;
}

.inactive-tab {
  background: url('/img/arrow_down.png') no-repeat;
  background-position: 92%;
}

.ul-width {
  position: relative;
  width: 100%;
}

.hide-ul-menu {
  display: none !important;
}

.show-ul-menu {
  @extend .button;
  position: absolute;
  background: #FFF;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px #888;
  border-radius: 3px;
  height: auto;
}

@media (min-width: 1200px) {
  .desktop-button {
    @include button;
    margin-bottom: 25px;
    width: 75%;
  }

  .active-tab {
    background: url('/img/arrow_up.png') no-repeat #F6F6F6;
    background-position: 92%;
  }

  .inactive-tab {
    background: url('/img/arrow_down.png') no-repeat;
    background-position: 92%;
  }

  .ul-width {
    position: relative;
    width: 100%;
  }

  .hide-ul-menu {
    display: none !important;
  }

  .show-ul-menu {
    @include button;
    position: absolute;
    background: #FFF;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px #888;
    border-radius: 3px;
    height: auto;
  }
}
