.page-body {
  display: flex;
  flex-direction: column;

  .form {
    padding: 0 30px;

    .description {
      font-family: Arial;
      font-size: 14px;
      padding: 15px 0 0 20px;
      width: calc(100% - 20px);
    }
  
    .images {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 26px;
  
      .label-for-images {
        background-size: cover;
        border-radius: 6px;
        border: 2px solid #F6F6F6;
        color: #E26636;
        display: inline-block;
        font-size: 32px;
        height: 94px;
        line-height: 96px;
        text-align: center;
        width: 94px;
      }
  
      .hidden-label {
        visibility: hidden;
      }
        
      .remove-image {
        float: right;
        height: 20px;
        margin: -9px 0 -22px -12px;
        position: relative;
        width: 20px;
      }
    }
  
    .input-file {
      display: none;
    }
  
    .label-for-price {
      display: block;
    }
  
    .price {
      display: inline-block;
      width: 64%;
    }
  
    .currency {
      float: right;
      width: 33%;
    }
  }
}

@media (max-width: 480px) {
  .form {
    .right-side {
      .description {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .form {
    margin: 0 auto;
    width: 1200px;

    .left-side {
      float: left;
      width: 30%;
    }

    .right-side {
      float: right;
      margin-bottom: 135px;
      width: 67%;

      .input {
        width: 70%;
      }
  
      .description {
        padding: 15px 0 0 20px;
        width: 70%;
      }
  
      .images {
        margin-bottom: 10px;
        width: 73%;
  
        .label-for-images {
          height: 167px;
          line-height: 164px;
          width: 167px;
        }
      }
  
      .contacts-block {
        width: 70%;
        
        .phone,
        .contact-name {
          display: inline-block;
        }
      }
  
      .price-block {
        width: 38%;
  
        .price {
          width: 145px;
        }
  
        .currency {
          margin: 0;
          width: 143px;
        }
      }
  
      .post-button {
        float: left;
      }
    }
  }
}
