// .categories {
//   padding: 0 30px;

//   .category-title {
//     border: 2px solid #F6F6F6;
//     border-radius: 8px;
//     margin-bottom: 20px;

//     a:link, a:visited, a:active, a:hover {
//       font-size: 15px;
//       font-weight: 700;
//       letter-spacing: .07em;
//       color: black;
//       text-decoration: none;
//       height: 58px;
//       line-height: 58px;
//       display: block;
//       padding-left: 30px;
//     }

//     .active-tab {
//       background: url('/img/arrow_up.png') no-repeat #F6F6F6;
//       background-position: 92%;
//     }

//     .inactive-tab {
//       background: url('/img/arrow_down.png') no-repeat;
//       background-position: 92%;
//     }

//     .subcategories {
//       padding-left: 29px;

//       .subcategory-title {
//         margin: 28px 0;

//         a:link, a:visited, a:active, a:hover {
//           height: 16px;
//           font-weight: 500;
//           line-height: 16px;
//           padding: 0;
//         }
//       }
//     }
//   }
// }

.index-page {
  .categories {
    display: flex;
    height: 350px;
    justify-content: space-between;
    margin: 0 auto;
    width: 1268px;
  }

  .latest-ads {
    .latest-ads-item {
      img.favourite-ad {
        height: 16px;
        padding-left: 15px;
        position: relative;
        vertical-align: middle;
        width: 16px;
      }
  
      img.thumbnail {
        height: 16px;
        padding-left: 15px;
        vertical-align: middle;
        width: 16px;
      }
  
      .ad-title {
        color: #000;
        display: inline-block;
        padding-left: 15px;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .index-page {
    .latest-ads {
      margin: 0 auto;
      width: 95%;

      .latest-ads-item {
        background: #FFF;
        box-sizing: border-box;
        border: 0;
        border-bottom: 1px solid #F5F5F5;
        clear: both;
        display: list-item;
        height: 33px;
        line-height: 32px;
        margin: 0;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        transition: .5s background;

        .ad-category,
        .ad-date {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .index-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .items-list {
      flex: 1 0 auto;
 
      .latest-ads {
        margin: 0 auto;
        margin-top: 51px;
        margin-bottom: 92px;
        width: 1268px;
        font-size: 13px;
    
        .latest-ads-item {
          height: 50px;
          line-height: 50px;
          padding-left: 32px;
          border-top: 2px solid #F6F6F6;
          
          span {
            display: inline-block;
          }
    
          .star {
            width: 32px;
          }
    
          .image {
            width: 30px;
          }
    
          .ad-title {
            width: 852px;
            
            a:link, a:visited, a:active {
              text-decoration: none;
              color: black;
            }
          }
    
          .ad-category {
            color: #E26433;
            width: 125px;
          }
    
          .ad-date {
            width: 135px;
            text-align: right;
          }
        }
      }
    }
  }
}
